#header {
  width: 100%;
  height: 15%;
  background-color: #191a1c;
}
#header .header-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 10px;
}
#header .header-wrap .header-title {
  margin-top: 20px;
  color: #fff;
}

#body-image-loader {
  background-color: #191a1c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
#body-image-loader .image-loader-head {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  border-bottom: 2px solid #fff;
  border-top: 2px solid #fff;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  #body-image-loader .image-loader-head {
    width: 100%;
    justify-content: space-around;
  }
}
#body-image-loader .image-button {
  height: 100%;
  background-color: #191a1c;
  font-size: 1rem;
  color: #fff;
  border: none;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  padding: 5px;
  cursor: pointer;
  transition: 0.5s;
}
#body-image-loader .disabled {
  cursor: default;
  background-color: #5c5d5e;
  opacity: 0.5;
}
#body-image-loader .image-loader-title {
  padding: 20px;
}
#body-image-loader #image-loader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 60%;
  margin: 30px;
}
#body-image-loader #image-loader .image-container {
  border: 2px solid #fff;
}
#body-image-loader #image-loader .image-box {
  height: 35rem;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  #body-image-loader #image-loader {
    height: 100%;
  }
}

.image-loader-info {
  width: 100%;
  background-color: #191a1c;
  padding: 30px;
  display: flex;
  border-top: 3px solid #fff;
  padding-top: 40px;
}

.image-info-forms {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
  margin: auto;
}
@media (max-width: 1000px) {
  .image-info-forms {
    flex-direction: column;
    width: 100%;
  }
}
.image-info-forms .image-details {
  display: flex;
  flex-direction: column;
  border: 2px solid #fff;
  border-radius: 10px;
  width: 50%;
}
@media (max-width: 1000px) {
  .image-info-forms .image-details {
    width: 100%;
  }
}
.image-info-forms .image-details h3 {
  font-size: 1.5rem;
  margin-top: 10px;
  padding-bottom: 5px;
  padding-left: 5px;
  border-bottom: 2px solid #fff;
}
@media (min-width: 1001px) and (max-width: 1240px) {
  .image-info-forms .image-details h3 {
    font-size: 1rem;
  }
}
.image-info-forms .image-details h4 {
  font-size: 1.25rem;
  margin: 5px;
}
@media (min-width: 1001px) and (max-width: 1240px) {
  .image-info-forms .image-details h4 {
    font-size: 1rem;
  }
}
.image-info-forms #email-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%;
  margin-left: 20px;
}
@media (max-width: 1000px) {
  .image-info-forms #email-form {
    width: 100%;
    margin-top: 20px;
    margin-left: 0;
  }
}
.image-info-forms #email-form #email {
  width: 100%;
  padding-left: 5px;
  border: 1px solid grey;
  height: 40px;
}
@media (max-width: 1000px) {
  .image-info-forms #email-form #email {
    margin-top: 10px;
  }
}
.image-info-forms #email-form h2 {
  font-size: 1.5rem;
}
@media (min-width: 1000px) and (max-width: 1600px) {
  .image-info-forms #email-form h2 {
    font-size: 1.25rem;
  }
}
.image-info-forms #email-form button {
  width: 100px;
  font-size: 1rem;
  background-color: #5c5d5e;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  transition: 0.5s;
}
@media (max-width: 1000px) {
  .image-info-forms #email-form button {
    margin-top: 10px;
    height: 2rem;
  }
}
.image-info-forms #email-form .active {
  background-color: #191a1c;
}
.image-info-forms #email-form .active:hover {
  background-color: #5c5d5e;
}
.image-info-forms #email-form .active:active {
  background-color: #fff;
}
.image-info-forms #email-form .warning-msg {
  color: #191a1c;
  transition: 0.5s;
  font-weight: 300;
  width: 60%;
  font-size: 1.25;
}
@media (min-width: 1000px) and (max-width: 1600px) {
  .image-info-forms #email-form .warning-msg {
    font-size: 0.875rem;
    width: 100%;
  }
}

#email-section {
  display: block;
  position: absolute;
  top: 200px;
  right: 0px;
  z-index: 3;
}
#email-section .email-show {
  display: flex;
  flex-direction: row;
  padding: 10px;
  border: 2px solid #fff;
  border-right: none;
  border-radius: 10px 0 0 10px;
  width: 200px;
  transition: 0.5s;
  background-color: #191a1c;
  cursor: pointer;
}
#email-section .email-show i {
  font-size: 1.5rem;
  margin-right: 5px;
}
#email-section .email-container {
  display: none;
  flex-direction: column;
  border: 2px solid #fff;
  border-radius: 10px 0 0 10px;
  border-right: none;
  width: 300px;
  padding: 10px;
  background-color: #191a1c;
}
#email-section .email-container .email-head {
  border-bottom: 2px solid #fff;
  padding-bottom: 5px;
  cursor: pointer;
}
#email-section .email-container .email-head i {
  font-size: 1.5rem;
  margin-right: 5px;
}
#email-section .email-container .saved-emails {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#email-section .email-container .saved-emails i {
  margin-top: 10px;
  margin-right: 10px;
  font-size: 1.25rem;
}
#email-section .email-container .saved-emails p {
  padding-top: 10px;
}
#email-section .email-container .saved-emails p:hover {
  cursor: pointer;
  text-decoration: underline;
}
#email-section .email-container .saved-emails h4 {
  padding-top: 10px;
  margin-left: 10px;
  margin-right: 60px;
}

.gallery-loader-head {
  background-color: #191a1c;
  display: none;
  flex-direction: row;
  justify-content: space-around;
  color: #fff;
}
.gallery-loader-head .gallery-loader-title {
  padding: 20px;
}
.gallery-loader-head .back-to {
  height: 40px;
  background-color: #191a1c;
  font-size: 1rem;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  transition: 0.5s;
  left: 40px;
  top: 20px;
  position: absolute;
}
.gallery-loader-head .back-to:hover {
  background-color: #5c5d5e;
}

#gallery-loader {
  height: 100%;
  background-color: #191a1c;
  border-top: 2px solid #fff;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  #gallery-loader {
    max-height: 100%;
    max-width: 100%;
  }
}
#gallery-loader .gallery-container {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #191a1c;
  padding: 30px;
}
#gallery-loader .gallery-container .gallery-image-container {
  width: 50%;
  height: auto;
  padding: 5px;
}
#gallery-loader .gallery-container .gallery-image-container .gallery-image-box {
  height: 100%;
  width: 100%;
  transition: 0.5s;
}
#gallery-loader .gallery-container .gallery-image-container .gallery-image-box:hover {
  opacity: 50%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

#body-main {
  height: 100%;
}

.background {
  height: 100vh;
  background-color: #191a1c;
}

/*# sourceMappingURL=style.css.map */
