
#body-image-loader {
    background-color: #191a1c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;

    .image-loader-head {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        border-bottom: 2px solid #fff;
        border-top: 2px solid #fff;
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) { 
            width: 100%;
            justify-content: space-around;
        }
    }

    .image-button {
        height: 100%;
        background-color: #191a1c;
        font-size: 1rem;
        color: #fff;
        border: none;
        border-left: 2px solid #fff;
        border-right: 2px solid #fff;
        padding: 5px;
        cursor: pointer;
        transition: .5s;
    }

    .disabled {
        cursor: default;
        background-color: #5c5d5e;
        opacity: .5;
    }

    .image-loader-title {
        padding: 20px;
    }

    #image-loader {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 60%;
        margin: 30px;

        .image-container {
            border: 2px solid #fff;
        }

        .image-box {
            height: 35rem;
        }

        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) { 
            height: 100%;
        }
    }

}