
#body-image-loader {
    background-color: #191a1c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;

    .image-loader-head {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        border: 2px solid #fff;
    }

    .image-button {
        height: 100%;
        background-color: #191a1c;
        color: #fff;
        border: none;
        border-left: 2px solid #fff;
        border-right: 2px solid #fff;
        padding: 5px;
        cursor: pointer;
    }
    .image-loader-title {
        padding: 20px;
    }

    #image-loader {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        margin: 30px;

        .image-container {
            border: 1px solid #fff;
            width: 60%;
            height: 55vh;
        }

        .image-box {
            width: 100%;
            height: 100%;
        }
    }

}