.image-loader-info {
    width: 100%;
    background-color: #191a1c;
    border-top: 2px solid #fff;
    padding: 30px;
}

.image-info-forms {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
    margin: auto;

    .image-details {
        display: flex;
        flex-direction: column;
        border: 2px solid #fff;
        width: 50%;

        h3 {
            font-size: 1.5rem;
            margin-top: 10px;
            padding-bottom: 5px;
            padding-left: 5px;
            border-bottom: 2px solid #fff;
        }

        h4 {
            font-size: 1.25rem;
            margin: 5px;
        }
    }

    #email-form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 50%;
        margin-left: 20px;

        #email {
            width: 100%;
            padding-left: 5px;
            border: 1px solid grey;
            height: 40px;
        }

        h2 {
            height: 2rem;
    }

    button {
        width: 100px;
        font-size: 1rem;
        background-color: #191a1c;
        color: #fff;
        border: 2px solid #fff;
    }
}
}